/**
 * Enthält die Styles des body-Elements.
 */
html, body {
  background: $dark-grey;
  color: $light-grey;
}
body {
  min-width: 400px;
  &.hide {
    display: none;
    html:hover & {
      display:block;
    }
  }
}
