/**
 * Enthält die Styles für Input Elemente des Typs color.
 */
input[type=color] {
  background-color: transparent;
  cursor: pointer;
  width: $button-heigth;
  position: relative;
  top: 1px;
}

// Styling für die Farbvorschau
::-webkit-color-swatch {
  border: solid $light-grey 2px;
  height: 100%;
  width: 50%;
  border-radius: $button-border-radius;
}