/**
 * Definiert das Styling des Popups.
 */
/**
 * Definiert gemeinsam genutzte CSS Variablen.
 */
/* fonts */
@font-face {
  font-family: "Montserrat Light";
  src: url('../fonts/Montserrat-Light.otf?1419776508') format('opentype');
}
@font-face {
  font-family: "Montserrat Regular";
  src: url('../fonts/Montserrat-Regular.otf?1419776509') format('opentype');
}
@font-face {
  font-family: "Montserrat Black";
  src: url('../fonts/Montserrat-Black.otf?1419776508') format('opentype');
}
/* colors */
/* styles */
/* --- HTML Elemente --- */
/* line 9, ../popup.scss */
body {
  min-width: 300px;
  background: #323232;
  color: #ebf2f2;
}

/* line 15, ../popup.scss */
h1 {
  font-family: "Montserrat Black";
  padding-bottom: 10px;
  border-bottom: #3f6658 dotted 2px;
  text-align: center;
}

/* line 22, ../popup.scss */
h2 {
  font-family: "Montserrat Regular";
  white-space: nowrap;
  margin: 10px 0px;
  padding-bottom: 5px;
}
/* line 28, ../popup.scss */
h2:hover {
  cursor: pointer;
}

/* line 33, ../popup.scss */
h2:hover
, .module.active h2 {
  padding-bottom: 3px;
  border-bottom: #3f6658 solid 2px;
}

/* --- definierte Klassen --- */
/* --- Module --- */
/* line 41, ../popup.scss */
#popup-content {
  padding: 20px;
}

/* line 45, ../popup.scss */
.module {
  padding: 5px;
  margin-bottom: 5px;
}

/* line 50, ../popup.scss */
.module-content
, .module-description {
  padding: 10px;
  background: #40403d;
  font-family: "Montserrat Light";
  margin-bottom: inherit;
  display: none;
}

/* line 59, ../popup.scss */
.module-content {
  border-radius: 5px 5px 5px 5px;
}

/* line 63, ../popup.scss */
.module-description {
  border-radius: 0px 20px 20px 20px;
}

/* --- Footer --- */
/* line 68, ../popup.scss */
#popup-footer {
  font-family: "Montserrat Regular";
  border-top: #3f6658 dotted 2px;
  padding: 10px 0px;
  margin: 0px 20px;
  text-align: center;
}

/* line 76, ../popup.scss */
.settings-icon {
  display: inline-block;
  height: 50px;
  width: 50px;
  background-image: url('../images/icon-settings-128px.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
/* line 85, ../popup.scss */
.settings-icon:hover {
  background-image: url('../images/icon-settings-light-128px.png');
  cursor: pointer;
}

/* line 95, ../popup.scss */
.settings {
  min-width: 42.5%;
  height: 100%;
  text-align: left;
  padding: 0 10% 5px 10%;
  display: none;
}
