/**
 * Definiert gemeinsam genutzte CSS Variablen, wie Farben, Fonts und Strings.
 * Hier werden auch global benötigte Dateien eingebunden.
 */
@import "compass/css3";

/* fonts */
$font-light: "Montserrat Light";
$font-regular: "Montserrat Regular";
$font-black: "Montserrat Black";

@include font-face($font-light, font-files("Montserrat-Light.otf"));
@include font-face($font-regular, font-files("Montserrat-Regular.otf"));
@include font-face($font-black, font-files("Montserrat-Black.otf"));

/* colors */
$dark-grey: rgb(50, 50, 50);
$gray: rgb(64, 64, 61);
$light-grey: rgb(235, 242, 242);
$green: rgb(63, 102, 88);

/* styles */
$border-dotted: $green dotted 2px;
$border-solid: $green solid 2px;