/**
 * Definiert das Styling des Popups.
 */
@import "compass/css3";
@import "vars";
@import "includes/includes";

/* --- Module --- */
#popup-content {
  padding: 20px 5px;
  overflow: auto;
  max-height: 400px;
  border-bottom: $border-dotted;
  border-top: $border-dotted;
  margin: 0px 10px;
}

.module {
  padding: 5px;
  margin-bottom: 5px;
}

.module-content
, .module-description {
  padding: 10px;
  background: $grey;
  font-family: $font-light;
  margin-bottom: inherit;
  display: none;
}

.module-content {
  border-radius: 5px 5px 5px 5px;
}

.module-description {
  border-radius: 0px 20px 20px 20px;
}

/* --- Footer --- */
#popup-footer {
  font-family: $font-regular;
  padding: 10px 0px;
  margin: 0px 20px;
  text-align: center;
}

.settings-icon {
  display: inline-block;
  height: 50px;
  width: 50px;
  background-image: image-url("icon-settings-128px.png", false, false);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;

  &:hover {
    // image-url arguments:
    // $path: path relative to images directory in config.rb
    // $path-only: if true, will cause only the path to be returned instead of a `url()` function
    // $cache-buster: When set to `false` no cache buster will be used (i.e. `?313420982`)
    background-image: image-url("icon-settings-light-128px.png", false, false);
    cursor: pointer;
  }
}

.settings {
  min-width: 42.5%;
  height: 100%;
  text-align: left;
  padding: 0 10% 5px 10%;
  display: none;

  .onoffswitch {
    width: 145px;

    .onoffswitch-inner {
      &:before, &:after {
        width: 46%;
      }
    }

    .onoffswitch-switch {
      right: 123px;
    }

    &.hints .onoffswitch-label {
      .onoffswitch-inner:before {
        content: "Hinweise ausschalten";
      }
      .onoffswitch-inner:after {
        content: "Hinweise einschalten";
      }
    }

    &.modules .onoffswitch-label {
      .onoffswitch-inner:before {
        content: "Alle ausblenden";
      }
      .onoffswitch-inner:after {
        content: "Alle einblenden";
      }
    }
  }
}

/* --- einbinden der Module --- */
@import "modules/modules";