/**
 * Definiert das Styling des Popups.
 */

/* --- Schriftarten --- */
@font-face {
    font-family: MontserratLight;
    src: url(./fonts/Montserrat-Light.otf);
}
@font-face {
    font-family: MontserratRegular;
    src: url(./fonts/Montserrat-Regular.otf);
}
@font-face {
    font-family: MontserratBlack;
    src: url(./fonts/Montserrat-Black.otf);
}

/* --- HTML Elemente --- */
body {
    min-width: 300px;
    background: rgb(50, 50, 50);
    color: rgb(235, 242, 242);
}

h1 {
    font-family: MontserratBlack;
    padding-bottom: 10px;
    border-bottom: rgb(63, 102, 88) dotted 2px;
    text-align: center;
}

h2 {
    font-family: MontserratRegular;
    white-space: nowrap;
    margin: 10px 0px;
    padding-bottom: 5px;
}

h2:hover {
    cursor: pointer;
}

h2:hover
, .module.active h2 {
    padding-bottom: 3px;
    border-bottom: rgb(63, 102, 88) solid 2px;
}

/* --- definierte Klassen --- */
/* --- Module --- */
#popup-content {
    padding: 20px;
}

.module {
    padding: 5px;
    margin-bottom: 5px;
}

.module-content
, .module-description {
    padding: 10px;
    background: rgb(64, 64, 61);
    font-family: MontserratLight;
    margin-bottom: inherit;
    display: none;
}

.module-content {
    border-radius: 5px 5px 5px 5px;
}

.module-description {
    border-radius: 0px 20px 20px 20px;
}

/* --- Footer --- */
#popup-footer {
    font-family: MontserratRegular;
    border-top: rgb(63, 102, 88) dotted 2px;
    padding: 10px 0px;
    margin: 0px 20px;
    text-align: center;
}

.settings-icon {
    display: inline-block;
    height: 50px;
    width: 50px;
    background-image: url("images/icon-settings-128px.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.settings-icon:hover {
    background-image: url("images/icon-settings-light-128px.png");
    cursor: pointer;
}

.settings {
    min-width: 42.5%;
    height: 100%;
    text-align: left;
    padding: 0 10% 5px 10%;
    display: none;
}


