/**
 * Definiert das Styling des Popups.
 */

@import "compass/css3";
@import "_vars.scss";

/* --- HTML Elemente --- */
body {
  min-width: 300px;
  background: $dark-grey;
  color: $light-grey;
}

h1 {
  font-family: $font-black;
  padding-bottom: 10px;
  border-bottom: $border-dotted;
  text-align: center;
}

h2 {
  font-family: $font-regular;
  white-space: nowrap;
  margin: 10px 0px;
  padding-bottom: 5px;

  &:hover {
    cursor: pointer;
  }
}

h2:hover
, .module.active h2 {
  padding-bottom: 3px;
  border-bottom: $border-solid;
}

/* --- definierte Klassen --- */
/* --- Module --- */
#popup-content {
  padding: 20px;
}

.module {
  padding: 5px;
  margin-bottom: 5px;
}

.module-content
, .module-description {
  padding: 10px;
  background: $gray;
  font-family: $font-light;
  margin-bottom: inherit;
  display: none;
}

.module-content {
  border-radius: 5px 5px 5px 5px;
}

.module-description {
  border-radius: 0px 20px 20px 20px;
}

/* --- Footer --- */
#popup-footer {
  font-family: $font-regular;
  border-top: $border-dotted;
  padding: 10px 0px;
  margin: 0px 20px;
  text-align: center;
}

.settings-icon {
  display: inline-block;
  height: 50px;
  width: 50px;
  background-image: image-url("icon-settings-128px.png", false, false);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;

  &:hover {
    // image-url arguments:
    // $path: path relative to images directory in config.rb
    // $path-only: if true, will cause only the path to be returned instead of a `url()` function
    // $cache-buster: When set to `false` no cache buster will be used (i.e. `?313420982`)
    background-image: image-url("icon-settings-light-128px.png", false, false);
    cursor: pointer;
  }
}

.settings {
  min-width: 42.5%;
  height: 100%;
  text-align: left;
  padding: 0 10% 5px 10%;
  display: none;
}