/**
 * Enthält die Styles des Media Quqery Moduls.
 */
#moduleMediaQueries {
  #mediaQueries {
    padding: 0 5px;
    margin-bottom: 20px;

    .mediaQuery {
      border-bottom: $border-solid-thin;
      .editor {
        display: none;
      }
    }
  }
}
