#moduleViewport {
  .onoffswitch-switch {
    background: $grey;
  }
  .onoffswitch-inner:before {
    content: "OUTER";
  }
  .onoffswitch-inner:after {
    content: "INNER";
  }

  // TODO wo anders hin
  .scroll-bar-label {
    width: 21%;
    display: inline-block;
    text-align: right;
  }
}